/* This CSS file will need to be added to the styling of 
your web pages for the styles to be rendered. */

body {
font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 45pt;
}


a {
  color: rgb(40, 113, 215);
  margin: 10px;
}

.button{
  border-radius: 50%;
  background-color: rgb(63, 190, 220);
  color: white;
  font-size: smaller; 
  padding: 5px 5px;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background: darkblue;
  cursor: pointer;
}

.button-lg{
  border-radius: 50%;
  font-size: large;
}



.button2{
  background-color: rgb(230, 130, 130);
  color: white;
  font-size: smaller; 
  padding: 5px 5px;
  text-decoration: none;
  cursor: pointer;
}

.button2:hover {
  background: red;
  cursor: pointer;
}


.container {
  position: relative;
  margin: 10px 20px 0px 20px;
  overflow: scroll;
}

.container-center {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  align-items: center;
}

.body2 {
  background-color: rgb(255,255,255);
  color: #010100;
  }


.jumbotron {
  width: 50%;
  margin: auto;
  text-align: center;
  align-items: center;
  color: rgb(40, 113, 215);
  background-color:  rgb(255,255,255);
}

.space-above {
    margin-top: 10px;
    padding-top: 10px;
}


.space {
  margin: 20px 20px 0px 20px;
  padding: 10px;
}


/* Pandans table :includes alternating gray and white with on-hover color*/

.mystyle {
  font-size: 10pt; 
  font-family: Arial;
  border-collapse: collapse; 
  border: 1px solid gainsboro;
  padding: 5px 5px;
  margin: 10px 10px;
}

.mystyle th {
  background-color:  rgb(40, 113, 215);
  min-width: 100px;
  color: aliceblue;
  text-align: center;
}

.mystyle tr {
  width: auto;
  height: 40px;
  text-align: center;
}

.mystyle tr:nth-child(even) {
  background: gainsboro;
}

.mystyle tr:hover {
  background: rgb(63, 190, 220);
  cursor: pointer;
}


input[type=submit] {
  background-color: rgb(63, 190, 220);
  border: 1px solid;
  color: white;
  font-size: small;
  padding: 10px 10px;
  text-decoration: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background: gold;
  cursor: pointer;
}

input[type=button] {
  background-color: rgb(63, 190, 220);
  border: 1px solid;
  color: white;
  font-size: smaller; 
  padding: 5px 5px;
  text-decoration: none;
  cursor: pointer;
}


input[type=button]:hover {
  background: gray;
  cursor: pointer;
}