{% extends 'bootstrap/base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Add User{% endblock %}

{% block styles %}

{{super()}}

<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles.css')}}">
<link rel="icon" type="image/x-icon" href="static/img/favicon.ico">
{% endblock %}

{% block content %}
<div class="container">
      <h3>Add a new User into the database</h3>
      <!-- This is where your WTForm will go -->
      <p class="space">
      {{ wtf.quick_form(form, novalidate=True) }}
      </p> 
</div>


<p class="space">
      <a class="btn btn-link btn-lg" href="{{ url_for('home') }}" role="button">Return to Main</a>
      <a class="btn btn-link btn-lg" href="{{ url_for('userlist') }}" role="button">Back to the List</a>
</p>

{% endblock %}
