<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Asset list</title>

<link href="{{url_for('.static', filename='css/styles.css')}}" rel="stylesheet"> 
<link rel="icon" type="image/x-icon" href="static/img/favicon.ico">
</head>

<body>
  <h3 class="space">IT Inventory(Valid Items)</h3> 
<div class="container">
        <table class="mystyle">
          <tr>
            <th>Edit</th>
            {% for item in col %}
            <th>{{item}}</th>
            {% endfor %}
          </tr>
            {% for row in assets %}
          <tr>
                <td>
                  <a class="button" href="{{ url_for('edit_info', code=row[0]) }}" role="button">Edit</a>
                </td>
              {% for item in row %}
                <td>{{ item }}</td>
              {% endfor %}
          </tr>
          {% endfor %}
        </table>
      </div>
      <p class="space">
        <a class="btn btn-link btn-lg" href="{{ url_for('home') }}" role="button">Return to Main</a>
        <a class="btn btn-link btn-lg" href="{{ url_for('add_info') }}" role="button">Add an Item</a>
        <a class="btn btn-link btn-lg" href="{{ url_for('checkbox') }}" role="button">Create Labels</a>
        <a class="btn btn-link btn-lg" href="{{ url_for('raw_edit') }}" role="button">Show Raw data</a>
        <a class="btn btn-link btn-lg" href="{{ url_for('valid_only') }}" role="button">Download</a>
      </p>
</body>
