<!-- {% extends 'bootstrap/base.html' %} -->

{% block title %}IT Assets{% endblock %}

{% block styles %}

{{super()}}

<link href="{{url_for('.static', filename='css/styles.css')}}" rel="stylesheet"> 
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="static/favicon.ico" />
{% endblock %}


{% block content %}
<form method="POST" action='checkbox'>
<div class="container">
  <div class="row">
    <div class= "col-lg">
      
      <h3>Create Asset Lable</h3>
      <div class="table-responsive"> 
        <table class="mystyle">
          <tr>
            <th>Select</th>
            {% for item in col %}
            <th>{{item}}</th>
            {% endfor %}
          </tr>
            {% for row in assets %}
          <tr>
                <td>
                  <input type="checkbox" value="{{row[0]}}" name="selected">
                </td>
              {% for item in row %}
                <td>{{ item }}</td>
              {% endfor %}
          </tr>
          {% endfor %}
        </table>
        </div>
      <input type="submit" value="Create Lables">
      <p class="space-above">
        <a class="btn btn-link btn-lg" href="{{ url_for('home') }}" role="button">Return to Main</a>
        <a class="btn btn-link btn-lg" href="{{ url_for('add_info') }}" role="button">Add an Item</a>
        <a class="btn btn-link btn-lg" href="{{ url_for('raw_edit') }}" role="button">Show Raw data</a>
        <a class="btn btn-link btn-lg" href="{{ url_for('valid_only') }}" role="button">Download</a>
      </p>
      </div>
  </div>
</div>
</form>
{% endblock %}
