{% extends 'bootstrap/base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Create Lables{% endblock %}

{% block styles %}

{{super()}}

<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles.css')}}">
<link rel="icon" type="image/x-icon" href="static/img/favicon.ico">
{% endblock %}

{% block content %}
<form method="POST" action='checkbox'>
  <div class="container1">
    <a class="btn btn-lg" href="{{ url_for('home') }}" role="button">Return to Main</a>
    <a class="btn btn-lg" href="{{ url_for('showlist') }}" role="button">Back to the List</a>
    <h3 class="space">Create Asset Lable</h3>    
  </div>

  <div class="container"> 
    <table class="mystyle">
      <tr>
          <th>Select</th>
          {% for item in col %}
          <th>{{item}}</th>
          {% endfor %}
        </tr>
          {% for row in assets %}
        <tr>
              <td>
                <input type="checkbox" value="{{row[0]}}" name="selected">
              </td>
            {% for item in row %}
              <td>{{ item }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
      </table>
  </div>
    <p class="space">
    <input type="submit" value="Create & Download Lables">
    </p>
</form>
{% endblock %}
