<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>CheckBox for the Labels</title>

<link href="{{url_for('.static', filename='css/styles.css')}}" rel="stylesheet"> 
<link rel="icon" type="image/x-icon" href="static/favicon.ico">
</head>

<body>
<form method="POST" action='checkbox'>
<div class="container">
  <h3 class="space">Create Asset Lable</h3>
    <div class="container">       
      <table class="mystyle">
        <tr>
            <th>Select</th>
            {% for item in col %}
            <th>{{item}}</th>
            {% endfor %}
          </tr>
            {% for row in assets %}
          <tr>
                <td>
                  <input type="checkbox" value="{{row[0]}}" name="selected">
                </td>
              {% for item in row %}
                <td>{{ item }}</td>
              {% endfor %}
          </tr>
          {% endfor %}
        </table>
      </div>
      <p class="space">
      <input type="submit" value="Create Lables">
      </p>
      <p class="space-above">
        <a class="btn btn-link btn-lg" href="{{ url_for('home') }}" role="button">Return to Main</a>
        <a class="btn btn-link btn-lg" href="{{ url_for('add_info') }}" role="button">Add an Item</a>
        <a class="btn btn-link btn-lg" href="{{ url_for('raw_edit') }}" role="button">Show Raw data</a>
        <a class="btn btn-link btn-lg" href="{{ url_for('valid_only') }}" role="button">Download</a>
      </p>
</div>
</form>
</body>
