{% extends 'bootstrap/base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Edit{% endblock %}

{% block styles %}

{{super()}}

<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles.css')}}">
<link rel="icon" type="image/x-icon" href="static/favicon.ico">

{% endblock %}

{% block content %}
<div class="container">

      <h3>Edit the asset information</h3>
      {{ wtf.quick_form(form, novalidate=True) }}

</div>
  <p class="space-above">
    <a class="btn-link btn-lg" href="{{ url_for('showlist') }}" role="button">Back to the List</a>
  </p>

{% endblock %}
