<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>UserID Error Page</title>

<link href="{{url_for('.static', filename='css/styles.css')}}" rel="stylesheet"> 
<link rel="icon" type="image/x-icon" href="static/img/favicon.ico">
</head>

<body>
<div class="container1">
      <p class="space-above">
      <h2>UserID Error </h2>
      <h3>UserID {{userinfo}} is not in the User Database </h3>
      <h3>Please Check and Try again </h3>
      </p>
</div>
<p class="space">
  <a class="btn btn-lg" href="{{ url_for('showlist') }}" role="button">Back to the List</a>
  <a class="btn btn-lg" href="{{ url_for('userlist') }}" role="button">See the User List</a>
</p>
</body>
