
<!-- {% extends 'bootstrap/base.html' %} -->
{% block title %}IT Inventory Main{% endblock %}
{% block styles %}

<!-- {{super()}} -->

<link rel="stylesheet"
      href="{{url_for('.static', filename='css/styles.css')}}">

{% endblock %}

{% block content %}

<div class="jumbotron text-center">
    <div class="container">
  <h1 class="display-4"> 
          🖥 IT Inventory 💻
        </h1>
  <!-- <p class="lead">Company IT devices</p> -->
  <p class="lead"></p>
  <hr class="my-4">
  <p>Keep tracking all company's IT assets.</p>
  <a class="btn-info btn-lg" href="{{ url_for('showlist') }}" role="button">Show the List</a>
  <!-- <a class="btn btn-warning btn-lg" href="{{ url_for('pdtable') }}" role="button">Table Raw List</a> -->
  <a class="btn-info btn-lg" href="{{ url_for('add_info') }}" role="button">Add Items</a>
    </div>
</div>

{% endblock %}
