<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Edit or Delete the data</title>

<link href="{{url_for('.static', filename='css/styles.css')}}" rel="stylesheet"> 
<link rel="icon" type="image/x-icon" href="static/img/favicon.ico">
</head>


<body>
  <h3 class="space">All Inventory Records</h3>
<div class="container">
  <table class="mystyle table table-condensed">
    <tr>
      <th>Edit</th>
      <th>Delete</th>
      {% for item in col %}
      <th>{{item}}</th>
      {% endfor %}
    </tr>
      {% for row in assets %}
    <tr>
          <td>
            <a class="button" href="{{ url_for('edit_info', code=row[0]) }}">Edit</a>
          </td>
          <td>
            <a class="button2" href="{{ url_for('delete_item', code=row[0]) }}">Del</a>
          </td>
        {% for item in row %}
          <td>{{ item }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>
<p class="space">
  <a class="btn btn-link btn-lg" href="{{ url_for('showlist') }}" role="button">Back to the List</a>
  <a class="btn btn-link btn-lg" href="{{ url_for('add_info') }}" role="button">Add an Item</a>
  <a class="btn btn-link btn-lg" href="{{ url_for('downloadFile') }}" role="button">Download</a>
</p>

</body>
